{% extends "base.html" %}

{% block appcontent %}

<div class="dash-wrap">

    <div class="form_wrap">
        <h3>Patient Data</h3>
        <form action="/new_patient" method="POST">
            <input type="radio" id="male" name="gender" value="male"/>
            <label for="male">Male</label><br/>
            <input type="radio" id="female" name="gender" value="female"/>
            <label for="female">Female</label><br/>
            <label for="Age">AGE</label>
            <input type="number" name="age" id="age"/>
            <hr>

            <input type="radio" id="alert" name="ms" value="alert"/>
            <label for="male">Alert</label><br/>

            <input type="radio" id="altered" name="ms" value="altered"/>
            <label for="female">Altered</label><br/>
            <hr>

            <input type="radio" id="wake_up_cva" name="wake_up_cva" value="wake_up_cva"/>
            <label for="wake_up_cva">Sx present on waking</label><br/>
            <hr>

            <p>Medical Hx</p>

            <input type="checkbox" name="afib" id="afib"/>
            <label for="afib">ATRIAL FIB</label>
            <hr>
            <input type="bp" name="bp" placeholder="Systolic BP"/>
            <hr/>

             <p>new symptoms</p>


            {% for d in range (0, lensx) %}
            <input type="checkbox" id= {{ sx[d] }} name= {{ sx[d] }} value={{ sx[d] }} />
            <label for= {{ sx[d] }} > {{ sx[d] }}</label><br/>
            {% endfor %}

            <button type="submit">ANALYZE</button>
        </form>

    </div>

    <div class="visualizations">
        <div class="vis" id="strokeprob"><p>{{ strokeProb }}</p></div>
        <div class="vis" id="cvatype"><p>Ischemic / Hemmorragic</p></div>
        <div class="vis" id="vessel"><p>Vessel affected</p></div>
        <div class="vis" id="dxprob"><p>Differentail probaility</p></div>
    </div>

    <div class="form_wrap_b">
        <h3>Post CT DX</h3>
        <form action="/confirm_dx" method="POST">
            <label for="md"><p>provider</p></label>
            <input type="text" id="doc" name="doc"><br><br>
            <label for="actual-dx">Diagnosis post CT:</label>
            <select name="dx" id="dx" form="actual-dx">
                <option value="ischemic">Ischemic CVA</option>
                <option value="hcva">Hemmorragic CVA</option>
                {% for i in range (0, len) %}
                <option value="disease" name= {{ diseases[i] }} > {{ diseases[i] }}</option>
                {% endfor %}

            </select>

            <button type="submit">ADD PATIENT DATA</button>
        </form>

    </div>

</div>


{% endblock %}
    
    

